<head>
    <title>taboola-globe</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>

<body>
    <img class="tab-logo" src="/taboola-logo.png">
    {{> globe }}
</body>

<template name="globe">
    <canvas id='globe' width='800' height='100%'></canvas>
    <div class="bottom-bar">
        {{> stopWatch minute=currentMinute hour=currentHour speed=visSpeed }}
        {{> clicksCounter total=clicksTotal speed=visSpeed}}
    </div>

</template>