body {
  background-color: rgb(0, 26, 34);
  background: url('BG.png');
  background-size: cover;
  color: white;

  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

ul#magnitudes {
  position: absolute;
  top: 100px;
  left: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
}

//h1 {
//  position: absolute;
//  top: 50px;
//  left: 5px;
//  padding: 0;
//  margin: 0;
//  z-index: 10;
//}

canvas {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  cursor: move;
}

//.bottom-bar, .top-bar {
//  position: absolute;
//  width: 400px;
//  text-align: center;
//}

.bottom-bar {
  bottom: 35px;
  left: 50%;
  position: absolute;
  width: 805px;
  text-align: center;
  margin-left: -405px;
}

//.top-bar {
//  top: 30px;
//  right: 10px;
//  z-index: 999;
//}

input[type=range] {
  width: 400px;
}

.counter-container{
  font-size: 2rem;
  letter-spacing: 0px;
  display: inline-block;
  width: 400px;
}


.counter-text {
  letter-spacing: 4px;
}
.tab-logo {
  z-index: 99999;
  position: absolute;
  top: 4rem;
  left: 2rem;
}

.watch-icon {
  position: relative;
  top: 14px;
}

.clicks-icon {
  position: relative;
  top: 5px;
}

.counter-icon {
  margin-right: 1rem;
}