<template name="clicksCounter">
    <div class="counter-container">
        <img class="counter-icon clicks-icon" src="/icon-clicks.png" alt="">
        <span class="counter-text">

        </span>
    </div>

</template>