<template name="stopWatch">
    <div class="counter-container">
        <img class="counter-icon watch-icon" src="/icon-time.png" alt="">
        <span class="watch-container"></span>
    </div>

</template>